<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      <h1>Genera tu codigo QR gratis</h1>    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <qrcode
              id="qr"
              [allowEmptyString]="true"
              [qrdata]="qrData"
              [imageWidth]="256"
              ></qrcode>  
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-input label="Escribe aquí el texto" labelPlacement="floating" placeholder="visita asdex.dev" [(ngModel)]="qrData"></ion-input>
              </ion-item>            
              <ion-button (click)="downloadQR()"> Descarga </ion-button>
              <br>
              <br>
              <a href="http://asdex.dev" target="_blank" rel="noopener noreferrer">asdex.dev</a>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>Creado 10/07/2023</p>
    <br>
    <a href="https://github.com/Asdex1240/qrgenerator" target="_blank" rel="noopener noreferrer">Github</a>
  </div>
</ion-content>
